@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto+Slab:wght@500&family=Source+Sans+Pro:wght@200;400;600&display=swap');

@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 200;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/sourcesanspro/v21/6xKydSBYKcSV-LCoeQqfX1RYOo3i94_wmhduz8A.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
  }

@font-face {
    font-family: 'Abril Fatface';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/abrilfatface/v19/zOL64pLDlL1D99S8g8PtiKchq-lmjdLh.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }

@font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/robotoslab/v24/BngbUXZYTXPIvIBgJJSb6s3BzlRRfKOFbvjovoSmYmRjRdE.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
  } 

  body {
    font-family: 'Source Sans Pro';
    background-color:#eee;
    color: default;
    width: 700px;
    margin-left: 400px;
  }

  header {
    font-family: 'Abril Fatface';
    color: default;
    text-align: center;
  }

  h2, h4 {
    font-family: 'Roboto Slab';
    color: default;
  }

  .newspaper-container {
    color: default;
    border-radius: 10px;
    box-shadow: #ddd;
    padding: 10px;
    border-style: solid;
    border-color: #eee;
    background-color: white;
    margin: 20px 20px;
    padding: 5px;
  }

  h5 {
    font-family: 'Abril Fatface';
    color: #dd3232
  }

  nav, ul, li {
    color: #777;
    list-style: none; 
    margin-left: 0px;
    display: inline-block;
    padding: 3px; 
    text-align: center;
}


a:link {
    text-decoration: none;
    color:#777;
}

a:visited {
    text-decoration: none;
}

.date{
    text-align: left;
    font-family: 'Source Sans Pro';
}

nav {
    border-top: solid 2px;
    border-bottom: solid 2px;
    border-color: #eee;
}

.more-articles {
    display: flex;
    width: 625px;
    border-top: solid 2px;
    border-color:#eee;
    padding: 20px;
}

p {
    text-align: left;
    padding: 20px;
    text-rendering: auto;
}

h4 {
    text-align:left;
}

